.container {
    position: relative;
    display: grid;
    place-items: center;
    /* Increased container height to fit the new cards */
    height: 300px; 
    width: 100%;
}

.resetContainer {
    grid-row: 1;
    grid-column: 1;
    z-index: 20;
}

.card {
    position: absolute;
    height: 300px; 
    width: 225px;
    
    transform-origin: bottom;
    overflow: hidden;
    border-radius: var(--mantine-radius-md);
    background-color: var(--mantine-color-white);
    border: 4px solid var(--mantine-color-dark-4);

    backface-visibility: hidden;
    transform: translateZ(0);
    will-change: transform;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
}