.modelScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.dragDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drag {
    text-align: center;
    margin: 0;
    color: var(--mantine-color-dark-0);
}

.carouselContainer {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Custom navigation arrow positioning */
.carouselContainer :global(.swiper-button-prev),
.carouselContainer :global(.swiper-button-next) {
    margin: 0 15px;
}

.accomplishment, .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    color: var(--mantine-color-dark-0);
}