.header {
    height: rem(56px);
    margin-top: rem(15px);
    margin-top: rem(10px);
    background-color: var(--mantine-color-body);
    /* Removed border-bottom for seamless look */
    border-bottom: none;
  }
  
  .inner {
    height: rem(56px);
    display: flex;
    /* Center the content */
    justify-content: center;
    align-items: center;
  }
  
  /* Removed .logoContainer, .logoText, .logo classes */

 .linksGroup {
  gap: rem(35px);
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid light-dark(rgba(17, 24, 39, 0.12), rgba(231, 233, 236, 0.12));
 }

 .link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-dark-2));
  font-size: rem(20px);
  font-weight: 500;

  /* Add transition for the smooth color change */
  transition: color 150ms ease, background-color 150ms ease;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-1), rgba(255, 255, 255, 0.04));
    color: var(--mantine-color-mist-6);
  }
}

  .icon {
    width: rem(20px);
    height: rem(20px);
  }
  
  .dark {
    @mixin dark {
      display: none;
    }
  
    @mixin light {
      display: block;
    }
  }
  
  .light {
    @mixin light {
      display: none;
    }
  
    @mixin dark {
      display: block;
    }
  }

  .actionicon {
  }
